@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}
@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

/* Glass utility */
.glass {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(18px);
}

.dark .glass {
  background: rgba(15, 15, 15, 0.6);
}

